html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='#545454' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: #ecedee;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
/* Colors */
/* Backgrounds */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Monoton'), local('Monoton-Regular'), url(https://fonts.gstatic.com/s/monoton/v9/5h1aiZUrOngCibe4TkHLRw.ttf) format('truetype');
}
.container.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  max-width: 100%;
}
.container.root h1,
.container.root h2,
.container.root h3 {
  font-weight: 900;
}
.container.content h2 {
  font-size: 4rem;
  padding-bottom: 2rem;
}
.container.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container.btn .btn {
  text-align: center;
  display: block;
  width: 100%;
  padding: 1rem 0;
  background: #D7FCD4;
  border-radius: 1rem;
  color: #262626;
  text-decoration: none;
  margin: 3rem 0 0;
}
.container.art {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.container.art img {
  transform: translate(0, 4rem);
}
.container.art#swipe img.hand {
  position: absolute;
  margin-right: 20rem;
  transform: translate(-15rem, 4rem);
  width: 25rem;
  animation-name: swipe;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes swipe {
  from {
    transform: translate(-15rem, 4rem);
  }
  to {
    transform: translate(8rem, 4rem);
  }
}
.container.art#dollars {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container.art#dollars img {
  width: 280px;
}
.container.art#dollars #dollar2 {
  position: absolute;
  transform: translate(2rem, 1rem);
}
.container.steps {
  height: 80px;
  width: 100%;
}
.container.root {
  width: 100%;
}
.container.root .jumbo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container.root .jumbo .fg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  background: #545454;
}
.container.root .jumbo .fg h1 {
  display: block;
  text-align: center;
  font-size: 4rem;
  position: absolute;
}
.container.root .jumbo img {
  max-width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(158, 108, 199, 0.525);
}
.container.root .step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4rem 4rem;
}
.container.root #sign-up {
  height: 700px;
  background-image: url("../img/job2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.container.root #swipe-right {
  background: #B6CCA1;
}
.container.root #get-hired {
  background: #30011E;
  color: whitesmoke;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background: #ecedee;
}
header h1 {
  font-family: 'Monoton', cursive;
  font-size: 4rem;
}
header nav {
  transition: ease-in 1000ms;
  display: none;
}
header nav a {
  display: inline-block;
  text-decoration: none;
  color: #262626;
}
header:hover nav {
  display: unset;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
}
