.container.steps {
    .flex(row, center, center);
    background: @Brass;
    width: 100%;
    img {
        height: 5rem;
        padding: 1rem 0;
    }
    .logo {
        font-family: @logo;
    }
}

.step {
    .flex();
    width: 100%;
    padding: 4rem 4rem;
    .number {
        padding-bottom: 1rem;
        img {
            width: 50px;
        }
        &#two {
            .flex(row-reverse, flex-start, center);
        }
    }
    h2 {
        font-size: 4rem;
        padding-bottom: 2rem;
    }
    .content {
        width: 400px;
    }
    .content, .art{
        .expand(@mobile, 48%);
    }
    .content {
        .flex-break(@mobile, column, space-betweem, center);
    }
    .flex-break();
    &#sign-up {
        color: black;
        background-image:@bg-job;
        background-attachment:fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &#swipe-right {
        text-align: center;
        background: @Laurel-Green;
        color: @Shell;
    }
    &#get-hired {
        background: @dark-sienna;
        color: @Brass;
    }
}
.container.btn {
    .flex(row, center, center);
    width: 100%;
    .btn {
        text-align: center;
        display: block;
        width: 100%;
        padding: 1rem 0;
        background: @Nyanza;
        border-radius: 1rem;
        color: @font-color;
        text-decoration: none;
        margin: 3rem 0 0;
    }
}
.container.art {
    .flex(row, center, flex-end);
        img {
            transform: translate(0, 4rem)
        }
    &#swipe {
        img.hand {
            position: absolute;
            margin-right: 20rem;
            transform: translate(-15rem, 4rem);
            width: 25rem;
            .new-frames(~"swipe", transform, translate(-15rem, 4rem), translate(8rem, 4rem)); 
            .loop-frames(~"swipe", 1000ms);
        }
    }
    &#dollars {
        height: 300px;
        .flex();
        img {
            width: 280px;
        }
        #dollar2 {
            position: absolute;
            transform: translate(2rem, 1rem)
        }
        
    }
}
