.container.steps {
    .flex(row, center, center);
    background: @Brass;
    background-image: @bg-brass;
    width: 100%;
    img {
        height: 5rem;
        padding: 1rem 0;
    }
    .logo {
        font-family: @logo;
    }
}

.step {
    .flex();
    width: 100%;
    padding: 0 4rem;
    .number {
        padding-bottom: 1rem;
        img {
            width: 50px;
        }
        &#two {
            .flex(row-reverse, flex-start, center);
        }
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
    }
    .content, .art {
        width: 400px;
        .flex(column, center, flex-start);
        height: 30rem;
        .expand(@mobile, 30rem, height);
        .expand(@tablet, 40rem, height);
        .expand(@desktop-small, 60rem, height);
        .expand(@desktop-small, 0 6rem, padding);
        .expand(@mobile, 50%)
    }
    .content, .art{
        .expand(@mobile, 48%);
    }
    .flex-break();
    &#sign-up {
        .seperator();
        .content, .btn {
            .expand(@mobile, 650px)
        }
        .flex(column, center, flex-start);
        .flex-break(@mobile, column, center, center);
        color: black;
        background-image:@bg-job;
        background-attachment:fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &#swipe-right {
        .flex-break(@mobile, row-reverse, space-between, center);
        text-align: center;
        background: @Laurel-Green;
        background-image: @bg-swipe;
        color: @Shell;
        .seperator();
        .content { 
            .flex(column, center, flex-end);
            .expand(@desktop-small, @bg-laptop, background-image)
        }
        .expand(@desktop-small, 0, padding);
    }
    &#get-hired {
        background: @dark-sienna;
        background-image: @bg-hired;
        color: @Brass;
        .seperator();
        .content { 
            .expand(@desktop-small, @bg-shake, background-image)
        }
        .expand(@desktop-small, 0, padding);
        .expand(@desktop-small, @Shell, color);
    }
}
.container.btn {
    .flex(row, center, center);
    width: 100%;
    .btn {
        font-weight: 900;
        text-align: center;
        display: block;
        width: 100%;
        padding: 2rem 0;
        background: @Nyanza;
        border-radius: 1rem;
        color: @font-color;
        text-decoration: none;
        margin: 3rem 0;
        .expand(@mobile, 3rem 0, padding);
        .expand(@tablet, 4rem 0, padding);
    }
}
.container.art {
    .flex(row, center, flex-end);
    &#swipe {
        width: 100%;
        .expand(@mobile, 50%);
        img{
            height: 25rem;
            .expand(@tablet, 30rem, height);
            .expand(@desktop-small, 50rem, height);
        }
        img.hand {
            position: absolute;
            margin-right: 20rem;
            height: 15rem;
            opacity: .8;
            .expand(@desktop-small, 35rem, height);
            .new-frames(~"swipe", transform, translate(-15rem, 0), translate(8rem, 0)); 
            .loop-frames(~"swipe", 1000ms);
        }
    }
    &#dollars {
        height: 300px;
        .flex();
        img {
            width: 280px;
            .expand(@mobile, 18rem);
            .expand(@tablet, 35rem);
            .expand(@desktop-small, 50rem);
            .expand(@desktop, 60rem);
        }
        #dollar2 {
            position: absolute;
            transform: translate(2rem, 1rem)
        }
        
    }
}
