.container.root {
    width: 100%;
    .jumbo {
        .flex();
        .fg {
            .flex();
            position: absolute;
            width: 100%;
            background: @Davy-Grey;
            h1 {
                display: block;
                text-align: center;
                font-size: 4rem;
                position: absolute;
            }
        }
        img {
            max-width:100%;
            box-shadow: inset 0 0 0 1000px rgba(158, 108, 199, 0.525);
        }
    }
    .step {
        .flex();
        width: 100%;
        padding: 4rem 4rem;
    }
    #sign-up {
        padding-top: unset;
        height: 60rem;
        color: black;
        background-image:@bg-job;
        background-attachment:fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #swipe-right {
        background: @Laurel-Green;
        color: @Shell
    }
    #get-hired {
        background: @dark-sienna;
        color: @Brass;
    }
    
}