@import (css) "animate";


.flex(@direction:column, @justify:center, @align:center) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}

.custom-bg(@bg-color, @bg) {
    background: @bg-color;
    background-image: @bg;
}

.new-frames(@name, @prop, @from, @to) {
    @keyframes @name {
        from {
            @{prop}: @from;
        }
        to {
            @{prop}: @to;
        }
    }
}

.loop-frames(@name, @duration) {
    animation-name: @name;
    animation-duration: @duration;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.seperator() {
    h3 {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $color;
    }
}

.expand(@bp:@mobile, @value:100%) {
    @media @bp {
        width: @value;
    }
}

.expand(@bp, @value, @property) {
    @media @bp {
        @{property}: @value;
    }
}

.flex-break(@bp:@mobile, @direction: row, @justify:space-between, @align:center) {
    @media @bp {
        .flex(@direction, @justify, @align)
    }
}
