/* Colors */
@dark-sienna: #30011E;
@Nyanza:#D7FCD4;
@Laurel-Green:#B6CCA1;
@Brass:#B68F40;
@Davy-Grey:#545454;
@Shell:#ecedee;



/* Backgrounds */

@bg-job: url("../img/job2.jpg");


/* Breakpoints */
@mobile: ~"screen and (min-width: 600px)";
@tablet: ~"screen and (min-width: 800px)";
@desktop-small: ~"screen and (min-width: 1200px)";